{% extends 'base.html' %}

{% block content %}

<section class="categories-page">

    <h1 class="page-title">

        Nos catégories

    </h1>

    <div class="categories-grid">

        {% for category in categories %}

        <a href="{% url 'category_products' category.id %}"
           class="category-card">

            <img src="{{ category.image.url }}"
                 alt="{{ category.name }}">

            <h5>
                {{ category.name }}
            </h5>

        </a>

        {% endfor %}

    </div>

</section>

{% endblock %}